# Auxilliary, log, outline, PDF files
*.aux
*.log
*.out
*.pdf

# Bibtex bibliography, log, backreferences
*.bbl
*.blg
*.brf

# Lists of tables/figures, table of contents
*.lot
*.lof
*.toc

# Index, makeindex source, makeindex log
*.ind
*.idx
*.ilg

# Recorder files, latexmk sources, synctex
*.fls
*.fdb_latexmk
*.synctex.gz

# Working directories and temporary files
*_minted*/
*.vscode/
*~